**/.idea
**/dependencies/**/.built
**/dependencies/**/bin
**/dependencies/dependencies.cmake
**/dependencies/*/openssl/include
**/cmake-build*
**/build
**/dist
**/*egg*
**/.cache
bindings/python/ethronsoft/pystor/bin/*
bindings/python/**/*.pyc
